html,
body {
  height: 100%;
  width: 100%;
}

.panel {
  margin-top: 50px;

  .panel-heading {
    background-color: #1abc9c !important;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
      color: #ecf0f1;
    }
  }

  .list-group-item {
    color: #34495e;
    background-color: #eff0f2;
  }
}
