body {
    margin: 30px 15px;
}

/* CARD */
.panel {
    .panel-body {
        height: 260px;
        max-height: 260px;
        overflow: scroll;

        .fb-event-item,
        .fb-post-item {
            margin: 10px 0;
        }

        .fb-event-item:not(:last-child),
        .fb-post-item:not(:last-child) {
            border-bottom: 1px solid #DDD
        }
    
        .pull-right strong {
            font-size: 16px;
        }

        h3 {
            margin-top: 10px;
        }

        .post-text {
            font-size: 16px;
        }
    }
}