body {
  margin: 30px 15px;
}
/* CARD */
.panel .panel-body {
  height: 260px;
  max-height: 260px;
  overflow: scroll;
}
.panel .panel-body .fb-event-item,
.panel .panel-body .fb-post-item {
  margin: 10px 0;
}
.panel .panel-body .fb-event-item:not(:last-child),
.panel .panel-body .fb-post-item:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}
.panel .panel-body .pull-right strong {
  font-size: 16px;
}
.panel .panel-body h3 {
  margin-top: 10px;
}
.panel .panel-body .post-text {
  font-size: 16px;
}
