body {
    margin: 30px 15px;
}

/* CARD */
.panel {
    .panel-body {
        min-height: 200px;
    
        .fb-event-item {
            margin: 10px 0;
        }

        .fb-event-item:not(:last-child) {
            border-bottom: 1px solid #DDD
        }
    
        .pull-right strong {
            font-size: 16px;
        }

        h3 {
            margin-top: 10px;
        }
    }
}